#cargaProducto{
    box-sizing: border-box;
    background-color: var(--color-celesteCLaro);
      height: 100vh;
      font-size: small; 
      padding-top: 10px;
      padding-left: 50px;
  }
  #botonesFinales{
    display: inline;
    padding-left: 30px;
    margin: 2px;
  }
  #cancelar{
    margin-left: 10px;
  }
  @media(min-width:768px){
    #cargaProducto{
      background-color: var(--color-celesteCLaro);
      width: 100%;
        height: 100vh;
        font-size: medium; 
        padding-top: 10px;
        padding-left: 200px;
    }
    #botonesFinales{
      padding-left: 50px;
      padding-bottom: 5px;
    }
    #cancelar{
      margin-left: 10px;
    }
  }
  @media(min-width:1024px) {
    #cargaProducto{
    text-align: center;
      width: 100%;
        height: 100vh;
        font-size: large; 
        padding-top: 20px;
        padding-left: 30%;
    }
    .primerBloque{
      overflow: hidden;
      display: inline-block;
    }
    #precio{
      float: right;
    }
    #botonesFinales{
      padding-left: 60px;
      padding-bottom: 5px;
    }
    #cancelar{
      margin-left: 10px;
    }
  }

