.agregarProducto .row{
  background-color: var(--color-celesteCLaro);
}
.agregarProducto #contenido{
  padding: 0;
}
.agregarProducto .row{
  justify-content: center;
}
.agregarProducto .form-row{
  margin-top: 10px;
  margin-bottom: 10px;
}

.agregarProducto select{
  font-size: 1.17em;
}
.agregarProducto label{
  font-size: 1.3em;
}
.agregarProducto .stock,.destacado{
  padding: 0;
  margin-bottom: 10px;
}
.agregarProducto #imagen input{
  padding: 0;
  height: 32px;
}
.agregarProducto label:hover{
  color: var(--color-celeste);
}
.agregarProducto input:hover{
  border: 1px solid var(--color-celeste);
}
.agregarProducto input:focus{
  background-color:  rgba(212, 211, 211, 0.63)
}
.agregarProducto textarea:hover{
  border: 1px solid var(--color-celeste);
}
.agregarProducto textarea:focus{
  background-color:  rgba(212, 211, 211, 0.63)
}
.agregarProducto .botones{
  padding: 0 ;
}
.agregarProducto p{
  color: red;
}

