/* COLORES */
:root{
    --color-azulOscuro: #1b262c;
    --color-azul: #0f4c75;
    --color-celeste: #3282b8;
    --color-celesteCLaro: #bbe1fa;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
  
  }
  /* GENERAL */
  *{
    box-sizing: border-box;
    margin: 0;
  }
  body{
    background-color: var(--color-celesteCLaro);
  }
  a{
    text-decoration: none;
    color: var(--color-celesteCLaro);
    font-size: 16px;
  }
  
  a:hover{
    color: white;
    text-decoration: none;
  }
  
  li{
    list-style: none;
  }
  /* -------------------------------------HEADER MOBILE FIRST------------------------- */
  /* CABECERA */
  header{
    background-color: var(--color-azul);
    padding: 10px 0;
    width: 100%;
  }
  .fondo{
    height: 7vh;
    background-color: rgba(8, 8, 8, 0.493);
    z-index: 0;
    position: absolute;
    margin-top: 5vh;
    width: 101%;
    margin-left: -19px;
    display: none;
  }
  .row{
    position: relative;
    justify-content: space-between;
  }
  .redes{
    display: none;
    z-index: 200;
  }
  /* LOGO */
  header .logo{
    margin: -15px auto;
    text-align: center;
   /*  margin-bottom: 15px; */
  
  }
  header .logo img{
    padding: 2px;
    height: 13vh;
    position: absolute;
    left: 1px;
    top: 2px;
    z-index: 10;
  }
  /* NAVBAR */
  .navBar{
    order:0;
    z-index: 100;
  }
  .navBar li{
    margin: 5px 0;
  }
  .navBar li:first-child{
    margin-top: 50px;
  }
  header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  header nav button.burger, .cart {
    color: var(--color-celesteCLaro);
    background-color: var(--color-celeste);
    border: none;
    border-radius: 4px;
    padding: 6px 15px;
    margin-bottom: 5px;
    display: none;
  }
  header nav button.cart{
    display: flex;
  }
  .menu .opciones{
    background-color: var(--color-celesteCLaro);
  }
  .menu .opciones a{
      font-size: 1em;
  }
  /* button:focus{
    border: none;
    outline: none;
  } */
  
  /* BUSCADOR */
  header .buscador{
  width: 100%;
  padding-right: 0;
  margin-top: 10px;
  }
  header form {
    right: 0px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding-right: 0;
  }
  header form input {
    border: solid 1px var(--color-grisClaro);
    display: block;
    width: 100%;
    padding: 7px 0px 7px 7px;
    border-radius: 5px;
    height: 30px;
    font-size: 1.5em;
    font-family: inherit;
    right: 0px;
  }
  
  header form input:focus,
  form button:focus {
    outline: none;
    background-color: rgb(190, 190, 190)
  }
  
  header form button {
    position: absolute;
    right: 2px;
    height: 90%;
    background-color: white;
    border: none;
    border-left: solid 1px var(--color-grisClaro);
    color: var(--color-grisOscuro);
    cursor: pointer;
  }
  /* CartBar */
  .cartBar{
    margin-top: 5px;
    order:3;
    padding-left: 0px;
  }
  .cartBar .menu2{
    justify-content: flex-end;
    text-align: right;
  }
  .cartBar .menu2 li {
  margin: 12px 0;
  margin-left: -120px;  
  }
  .cartBar ul li .icon{
    display: none;
  
  }/* -------CIERRE HEADER MOBILE----- */
  
  /*-------------HOME MOVILE FIRST-------------*/
  
  
  /* TABLET */
@media(min-width:768px){
    /* -----------------------------------HEADER TABLET---------------------------- */
    .fondo{
      display: flex;
    }
    header{
      padding-bottom: 5px;
    }
    header .logo img{

      position: relative;
    }
    header nav button.burger{
      display: flex;
    }
    #navbarSupportedContent .menu{
      margin-top: 0px;
    }
    /* ICONOS REDES SOCIALES */
  .redes{
    display: flex;
    position: absolute;
    top: -5px;
    left: 11%;
    width: 500px;
  }
  .redes li a{
    margin-right: 10px;
    font-size: 1.5em;
  }
  .redes li a .face:hover{
    color: white;
    /* color: #3b5998; */
  }
  .redes li a .insta:hover{
    color: #8a3ab9;
  }
  .redes li a .tw:hover{
    color: #00acee;
  }
  .redes li a .yt:hover{
    color: #c4302b;
  }
  /* ICONOS INFO CONTACTO SUCURSALES */
  .infoRedes{
display: none;
  }
  /* LOGO */
  header .logo img{
    margin-left: -45px;
    height: 20vh;
  }

  /* NAVBAR MENU1 */
  header .navBar{
    order:0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 9px;
  }
  header .menu {
    margin-left: 3px;
  }
  header .menu ul li {
    margin-top: 15px;
    justify-content: space-between;
    margin-left: -15px;
  }
  .navBar li:first-child{
    margin-top: 15px;
  }
  header  .menu ul li a{
    font-size: 1.50em;
  }
  .menu .opciones a{
    font-size: 1.2em;
}
  /* NAVBAR MENU2 USER */
  .cartBar #navbarSupportedContent{
    display: flex;
   justify-content: flex-end;
   margin-top: -15px;
  }
  .cartBar ul li .entero{
    display: none;
  }
  .cartBar ul li .icon{
    display: flex;
    font-size: 1.2em;
  }
  header .menu2 ul li {
    justify-content: space-between;
    padding-right: 20px;
  }
  header .menu2 ul li:last-child{
    padding-right: 50px;
  }

/* BUSCADOR */
header .contenedorBuscador{
  padding: 0px;
  display: flex;
  justify-content: center;
  order:2 ;
  width: 200px;
  margin-top: 13px;
  padding-bottom: 0px;
}
.buscador form{
  width: 330px;
  margin: -35px 15px 0 0;
  position: absolute;

}
.cartBar .menu2{
  margin-top: -10px;
  
}

.cartBar .menu2 li {
  margin: 12px 0;
  margin-left: 0px;  
  }
  
  }/* -----------CIERRE HEADER TABLET -------------*/

/*---------------INICIO HOME TABLET-----------*/

/* DESKTOP */
@media(min-width:1024px) {
  /* -----------------------------------HEADER DESKTOP---------------------------- */
    /* ICONOS REDES SOCIALES */
  .redes{
    left: 8.2%;
    top: -7px;
    width: 91%;
  }
  /* ICONOS INFO CONTACTO SUCURSALES */
  .infoRedes{
    display: flex;
    position: absolute;
    top: 7px;
    right: 0%;
    font-size: 0.75em;
  }
  /* NAVBAR MENU1 */
  header .menu{
    margin-left: 20px;
  }
  header .menu ul li {
    justify-content: space-between;
    padding-right: 20px;
  }
  header  .menu ul li a{
    font-size: 1.83em;
  }
  .menu .opciones a{
    font-size: 1.5em;
}
    /* NAVBAR MENU2 */
    header .cartBar{
      order:22;
      display: flex;
      flex-wrap: wrap;
      margin-top: 0px;
      z-index: 100;
    }
    nav .usuario{
      margin-right: -50px;
      margin-bottom: -5px;
      padding: 0;
    }
    header .menu2 ul li {
      justify-content: space-between;
      padding-right: 30px;
    }
    header .menu2 ul li i{
      margin-left: 10px;
      margin-top: 5px;
    }
    .cartBar ul li .entero{
      display: flex;
      font-size: 1.2em;
    }
    .cartBar ul li .icon{
      display: none;
      font-size: 1.5em;
    }
    /* BUSCADOR */
  header .contenedorBuscador{
  display: flex;
  align-items: center;
  padding-bottom: 0px;
  margin-top: -8px;
}
.buscador form{
  width: 50%;
margin-top: -10px;
}
}

@media(min-width:1200px){
.buscador form{
  width: 80%;
}
#navbarSupportedContent{
  padding: 5px;
}
nav .usuario{
  margin-top: -17px;
  margin-bottom: -10px;
  padding: 0;
}
header .contenedorBuscador{

  margin-top: -11px;

}
}/* ------CIERRE HEADER DESKTOP---------- */
  
/*------------------------------------------ HOME MOBILE FIRST----------------------------- */
#carouselExampleCaptions{
  display:none;
}
#home .productos {
  display: flex;
  flex-wrap: wrap;
}

.titulo h2 {
  text-align: center;
  font-size: 24px;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--color-azul)
  }
  #home .grilla:hover{
    padding:  0px;
  }

#home  .contenido {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 0 0;
  text-align: center;
  border: 3px solid var(--color-azul);
}

#home .contenido figure img {
  width: 90%;
  padding: 5px;
}

#home  article {
  display: flex;
  flex-wrap: wrap;
  border-top: 3px double var(--color-azul);
  padding: 0px;
  position: relative;
  height: 150px;
  
  margin-bottom: 0px;
  background-color: var(--color-azul);
}
#home article h2{
 align-items: center;
color: white;
padding: 5px;
margin-top: 20px;
}
#home article span {
  color: white;
  display: flex;
  align-items: center;
  margin-left: 50px;
  position: absolute;
  border-radius: 5px;
  top: -23px;
  right: 10px;
  font-size: 1.7em;
  background-color: red
}
#home article p{
  text-align: center;
  padding: 0px;
  font-size: 1.5em;
  color: white;
  font-weight: 500;
  margin-bottom: 5px;
}

/* HOME TABLET */
@media(min-width:768px){
  #carouselExampleCaptions{
    display:flex;
  }
  #home article p{
    text-align: center;
    padding: 0;
    font-size: 1em;
  }
  #home article h2{
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0;
  } 
  #home article span{
    font-size: 1.3em;
    top: -18px;
  }  
}/* CIERRE HOME TABLET */
#carouselExampleCaptions h5{
  font-size: 5em;
  color: white;
}
/* HOME DESKTOP */
@media(min-width:1024px){

  #home .productos {
    display: flex;
    flex-wrap: wrap;
  }
  
  #home .titulo h2 {
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 10px;
    background-color: var(--color-azul)
    }
  
  #home  .contenido {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    margin-top: 20px;
  }
  
  #home .contenido figure img {
    width: 100%;
  }
  
  #home article {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-grisClaro);
    padding: 10px;
    position: relative;
    height: 150px;

  }

  #home article h2{
    text-align: center;
    padding: 0px;
  }
  #home article p{
    font-size: 0.8em;
  }
  #home article span{
    font-size: 1.2em;
    top: -12px;
  } 
  }