@import "index.css";
@import "carrito.css";
@import "footer.css";
@import "agregarProducto.css";
@import "login.css";
/*---------------------------------------------- MAIN MOBILE FIRST------------------------------------- */
h1{/* H1 DE REFERENCIA BORRAR DESPUES */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}
