<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->

<!-- ACA EL CODIGO -->
<main class="container administracion">
    <section class="admin">
        <div class="row ">
          <!-- TITULO PRINCIPAL  -->
            <div class="titulo col-12">
                <h2>
                    <%= title %> 
                </h2>
            </div>

            <div class="">
                <ul class="titulo">
                    <li>
                        <h2><a href="/productos/admin/1">Administrar Productos</a></h2>
                        
                    </li>
                    <li>
                       <h2><a href="/users/admin/1">Administrar Usuarios</a></h2> 
                    </li>
                </ul>
            </div>
            
           
        </div>
    </section>
</main>

<%- include("./partials/footer") %> <!-- FOOTER -->