<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->

<!-- ACA EL CODIGO -->
<main>
<h1>PAGINA AGREGAR PRODUCTO</h1>
</main>
<%- include("./partials/footer") %> <!-- FOOTER -->