<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->

<!-- ACA EL CODIGO -->
<main class="container-fluid "id="carrito">
    <form class="container carrito" >
    <div class="row">
                <!--titulo de la sección-->
                <div class="titulo col-12">
                    <h1>
                        Estos son tus productos seleccionados
                    </h1>
                </div>
        <!-- ////////////////// CAJA 1 /////////////////////-->
    <section class="col-12 col-md12 col-lg-8 barra"><!-- contenedor fila 1  fila 2  y precio-->
        
                 <!-- fila 1 -->
            <section class="filaDetalles col-12"><!-- fila detalles-->
                <article class="col-12 col-md-6 col-lg-6" id="contenedorA">
                         <p class="col-12 col-md-5">Producto</p>
                         <p class="col-12 col-md-7">Nombre</p>
                </article><!-- cierre contenedor A -->
                <article class="col-md-6 col-lg-6" id="contenedorB">
                         <p class="col-md-5 col-lg-4">Precio unidad</p>
                         <p class="col-md-4 col-lg-3">Cantidad</p>
                         <p class="col-3">Subtotal</p>
                         <p class="col-md-3 col-lg-2">Quitar</p>
                </article><!-- cierre contenedor B -->
            </section><!--cierre fila detalles -->

                <!-- fila 2 -->
            <section class="filaProducto col-12 "><!-- fila producto -->
                <div class="row">
                <article class="col-8 col-md-6 col-lg-6" id="contenedorA">
                    <div class="col-12 col-md-5 cajaImg">
                        <img class="col-12" src="/images/solarisAZULsimple.png" alt="">
                    </div>
                    <div class="col-12 col-md-7 cajaDescripcion">
                        <h5 class="col-12 nombre">Nombreaa adsas ds</h5>                       
                    </div>
                </article><!-- cierre contenedor A -->
                <article class="col-4 col-md-6 col-lg-6" id="contenedorB">
                <!-- precio -->
                    <article class="col-12 col-md-5 col-lg-5 precio" id="item">
                        
                        <h5>Precio</h5>
                        <span class="col-12 col-md-12">$65000</span>
                        
                    </article>
                <!-- cantidad -->
                    <article class="col-12 col-md-4 col-lg-1 cantidad" id="item">
                        <input type="number" value="1">

                    </article>

                <!-- subtotal -->
                    <article class="col-12 col-md-12 col-lg-4 subtotal" id="item">
                      
                        <span class="col-12">$30000</span>
                        
                    </article>

                <!-- quitar -->
                     <article class="col-md-3 col-lg-2 quitar" id="item">
                        <div>
                        <button type="reset"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg></button>
                        </div>

                     </article>
                

                </article><!-- cierre contenedor B -->
                </div><!-- cierre fila 2 -->
            </section><!-- cierre fila producto -->
    </section><!-- cierre contenedor fila 1 y fila 2  y precio--> 

    <!-- ////////////////// CAJA2 /////////////////////-->
    <section class="col-12 col-md-12 col-lg-8 descripcion">
        <article>
            <h6>Descripcion</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis magni numquam doloribus, voluptatem tempore commodi!</p>
        </article>
    </section>

          <!-- ////////////////// CAJA 3 /////////////////////-->
    <section class="col-12 col-md-12 col-lg-3 contenedorCajaCompra"><!-- contenedor precio y comprar -->
        <section class="col-12 cajaCompra">
                <article class="cajaSubtotal">
                    <div class="">
                        <p class="col-6">subtotal</p>
                    </div>
                    <div>
                        <span class="col-6">$6565</span>
                    </div>
                </article>
                <article class="cajaTotal">
                    <div class="">
                        <p class="col-6">Total general</p>
                    </div>
                    <div>
                        <span class="col-6">$6565</span>
                    </div>
                </article>
                <button type="button" class="btn btn-danger">Completar compra</button>
           

        </section>

            

    </section><!-- cierre caja precio y comprar --> 

    </div>
</form>
  <!-- ////////////////// CAJA 4 /////////////////////-->
  <section class="container ofertas">

    <!--caja que contiene productos oferta-->
    <div class="row productos">

        <!--titulo de la sección ofertas-->
        <div class="titulo col-12">
            <h3>
                ¿Te gustaria agregar algo mas a tu carrito?
            </h3>
        </div>
        <!--caja de la grilla de bootstrap-->
        <div class="col-12 col-md-6 col-lg-3">

            <!--caja que muestra la información del producto-->
            <div class="contenido">

                <!--ETIQUETA SEMANTICA-->
                <figure>
                    <img src="/images/solarisAzulSimple.png" alt=" ">
                </figure>

                <!--informacion-->
                <article class="info">
                 <!--nombre del producto ??-->
                 <p class="col-12">nombre producto </p>
                    <!--precio-->
                    <h2>$6545 </h2>
                    <!--descuento-->
                     <span>40 %OFF</span>
                    <!--icono de envío-->
                    <button type="">Agregar al carrito <i class="fas fa-plus-square"></i></button>
                </article>

                <!--finaliza contenido-->
            </div>
            <!--finaliza caja de grilla de boostrap-->
        </div>
        <div class="col-12 col-md-6 col-lg-3">

            <!--caja que muestra la información del producto-->
            <div class="contenido">

                <!--ETIQUETA SEMANTICA-->
                <figure>
                    <img src="/images/solarisAzulSimple.png" alt=" ">
                </figure>

                <!--informacion-->
                <article class="info">
                    <!--nombre del producto ??-->
                    <p class="col-12">nombre producto </p>
                       <!--precio-->
                       <h2>$6545 </h2>
                       <!--descuento-->
                        <span>40 %OFF</span>
                       <!--icono de envío-->
                       <button type="">Agregar al carrito <i class="fas fa-plus-square"></i></button>
                   </article>

                <!--finaliza contenido-->
            </div>
            <!--finaliza caja de grilla de boostrap-->
        </div>
        <div class="col-12 col-md-6 col-lg-3">

            <!--caja que muestra la información del producto-->
            <div class="contenido">

                <!--ETIQUETA SEMANTICA-->
                <figure>
                    <img src="/images/solarisAzulSimple.png" alt=" ">
                </figure>

                <!--informacion-->
                <article class="info">
                    <!--nombre del producto ??-->
                    <p class="col-12">nombre producto </p>
                       <!--precio-->
                       <h2>$6545 </h2>
                       <!--descuento-->
                        <span>40 %OFF</span>
                       <!--icono de envío-->
                       <button type="">Agregar al carrito <i class="fas fa-plus-square"></i></button>
                   </article>

                <!--finaliza contenido-->
            </div>
            <!--finaliza caja de grilla de boostrap-->
        </div>
        <div class="col-12 col-md-6 col-lg-3">

            <!--caja que muestra la información del producto-->
            <div class="contenido">

                <!--ETIQUETA SEMANTICA-->
                <figure>
                    <img src="/images/solarisAzulSimple.png" alt=" ">
                </figure>

                <!--informacion-->
                <article class="info">
                    <!--nombre del producto ??-->
                    <p class="col-12">nombre producto </p>
                       <!--precio-->
                       <h2>$6545 </h2>
                       <!--descuento-->
                        <span>40 %OFF</span>
                       <!--icono de envío-->
                       <button type="">Agregar al carrito <i class="fas fa-plus-square"></i></button>
                   </article>

                <!--finaliza contenido-->
            </div>
            <!--finaliza caja de grilla de boostrap-->
        </div>
        

        <!--finaliza el div.row-->
    </div>

    <!--FINALIZA SECCCIÓN OFERTAS-->
</section>

</main>


<%- include("./partials/footer") %> <!-- FOOTER -->