<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->

<!-- ACA EL CODIGO -->

<div class="container-fluid containerFluidHome">
  <div class="container containerHome">
    <section class="destacados">
      <div class="row rowHome">

        <div class="tituloHome col-12" >
          <h2>Productos destacados del mes!</h2>
        </div>

        <div class="col-12 col-md-6">
          <div class="contenidoHome">
            <figure>
              <img src="images/guitarraHome.jpg" alt="">
            </figure>
            <article>
              <h2>$9999.99</h2>
              <span>99% OFF</span>
              <p>DESCRIPCION DE PRODUCTO</p>
            </article>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="contenidoHome">
            <figure>
              <img src="images/guitarraHome.jpg" alt="">
            </figure>
            <article>
              <h2>$9999.99</h2>
              <span>99% OFF</span>
              <p>DESCRIPCION DE PRODUCTO</p>
            </article>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>



<%- include("./partials/footer") %> <!-- FOOTER -->























<!--SRIPS BOOTSTRAP-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>   
</body>
</html>
