<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->


<main>
    <h2>Bienvenido <%= user%> </h2>
</main>

<%- include("./partials/footer") %> <!-- FOOTER -->