<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->

<!-- ACA EL CODIGO -->
<main>
    <form class="container login" action="">
        <section class="cajaPrincipal">
            <article class="log">
                <h1>Ingresá</h1>
                    <div class="datos">
                        <input type="text" name="Nombre" placeholder="Nombre de Usuario"><i class="fas fa-user"></i>
                    </div>
                    <div class="datos">
                    <input type="password" name="password" placeholder="Contraseña"><i class="fas fa-unlock-alt"></i>
                    </div>
                    <div class="recuerdame datos">
                        <input type="checkbox"><label>Recordarme</label>
                    </div>
                    <a href="">¿Olvidaste tu usuario y/o contraseña? </a>
                    <div class="datos">
                    <button type="submit">Aceptar</button>
                    <i class="fad fa-horizontal-rule"></i>
                     </div>
            </article>   
            <article class="registro">
                <h2>Registrate</h2>
                <div class="datos">
                    <input type="text" name="nombre" id="" placeholder="Nombre de usuario"><i class="fas fa-user"></i>
                </div>
                <div class="datos">
                    <input type="email" name="email" id="" placeholder="ingrese un Email valido"><i class="fas fa-envelope"></i>
                </div>
                <div class="datos">
                    <input type="password" name="password" id="" placeholder="Contraseña"><i class="fas fa-lock"></i>
                </div>
                <div class="datos">
                    <input type="password" name="password" id="" placeholder="Repita su Contraseña"><i class="fas fa-unlock-alt"></i>
                </div>
                <div class="Terminos"> 
                    <input class="terminos" name="terminos" type="checkbox">
                    <label for="terminos">Acepto los <a href="">términos y condiciones</a></label>
                </div>
                
                <button type="submit">Aceptar</button>
                

            </article>
        </section>
    </form>
</main>

<%- include("./partials/footer") %> <!-- FOOTER -->