<%- include("./partials/head") %> <!-- HEAD -->
<%- include("./partials/header") %> <!-- HEADER -->

<!-- ACA EL CODIGO -->
<main>
    <form class="container login" action="">
        <section class="cajaPrincipal">
            <article class="log">
                <h1>Ingresá</h1>
                    <div class="datos">
                        <input type="text" name="Nombre" id="name" placeholder="Nombre de Usuario"><label for="name"><i class="fas fa-user"></i></label>
                    </div>
                    <div class="datos">
                    <input type="password" name="password" id="password" placeholder="Contraseña"><label for="password"><i class ="fas fa-unlock-alt"></i></label>
                    </div>
                    <div class="recuerdame datos">
                        <input type="checkbox" id="recuerdame"><label for="recuerdame">Recordarme</label>
                    </div>
                    <a href="">¿Olvidaste tu usuario y/o contraseña? </a>
                    <div class="datos">
                    <button type="submit">Aceptar</button>
                    <i class="fad fa-horizontal-rule"></i>
                     </div>
            </article>   
            <article class="registro">
                <h2>Registrate</h2>
                <div class="datos">
                    <input type="text" name="nombre" id="nameRegistro" placeholder="Nombre de usuario"><label for="nameRegistro"><i class="fas fa-user"></i></label>
                </div>
                <div class="datos">
                    <input type="email" name="email" id="email" placeholder="ingrese un Email valido"><label for="email"><i class="fas fa-envelope"></i></label>
                </div>
                <div class="datos">
                    <input type="password" name="password" id="passRegistro" placeholder="Contraseña"><label for="passRegistro"><i class="fas fa-lock"></i></label>
                </div>
                <div class="datos">
                    <input type="password" name="password" id="passRepeat" placeholder="Repita su Contraseña"><label for="passRepeat"><i class="fas fa-unlock-alt"></i></label>
                </div>
                <div class="Terminos"> 
                    <input class="terminos" name="terminos" type="checkbox" id="terminos">
                    <label for="terminos">Acepto los <a href="">términos y condiciones</a></label>
                </div>
                
                <button type="submit">Aceptar</button>
                

            </article>
        </section>
    </form>
</main>

<%- include("./partials/footer") %> <!-- FOOTER -->