<!--HEADER Y NAVBAR-->
    <header class="container-fluid">
<!-- CAJA DE LA LINEA DE FONDO OSCURA -->
  <div class="container-fluid fondo">

  </div>

  <!--CAJA CONTENEDORA DE BOOTSTRAP-->
      <div class="container">

  <!--CAJA CONTENEDORA DE LOGO, BUSCADOR,USUARIOS Y REDES-->
        <div class="row">

                        <!-- caja info y redes sociales -->
  <div class="redes">
    <nav>
        <ul>
            <li>
                <a href=""><i class="fab fa-facebook-square face"></i></a>
                <a href=""><i class="fab fa-instagram insta"></i></a>
                <a href=""><i class="fab fa-twitter tw"></i></a>
                <a href=""><i class="fab fa-youtube yt"></i></a>
            </li>
        </ul>
        <ul class="info">
            <li>
                <a href="../quienesSomos">Quienes somos <i class="fas fa-users"></i></a>
                <a href="../sucursales">Sucursales <i class="fas fa-map-marker-alt"></i></a>
                <a href="../contacto">Contacto <i class="fas fa-envelope-open-text"></i></a>
            </li>
        </ul>
    </nav>
</div>
                <!--caja que contiene el logotipo-->
            <div class="col-12 col-md-2 col-lg-1 logo">
                <a href="../"><img src="/images/solarisAzulsimple.png" alt=" "></a>
            </div>
            <!-- caja barra navegacion principal -->
            <div class="col-4 col-md-10 col-lg-8 navBar">
                <nav class="navbar-expand-md menu">

                    <!--boton para que desplegar el menu  en caso que el viewport sea tamaño movil-->
                    <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
    
                    <!--barra de menu que aparece a partir de la vesión de tablet-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                        <!--barra de menu izquierdo-->
                        <ul class="menu navbar-nav mr-auto">                         
                            <li>  <!-- GUITARRAS -->                                 
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><a href="">GUITARRAS</a>
                                    </button>
                                    <div class="dropdown-menu opciones">
                                      <a class="dropdown-item" href="productos/guitarras">Criollas</a>
                                      <a class="dropdown-item" href="#">Eléctricas</a>
                                      <a class="dropdown-item" href="#">Acústicas</a>
                                      <a class="dropdown-item" href="#">Electro-Acústicas</a>
                                    </div>
                                  </div>
                            </li>                          
                            <li><!-- BAJOS -->
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><a href="">BAJOS</a>
                                    </button>
                                    <div class="dropdown-menu opciones">
                                      <a class="dropdown-item" href="#">Eléctrico</a>
                                      <a class="dropdown-item" href="#">Acústico</a>
                                      <a class="dropdown-item" href="#">Otros</a>
                                    </div>
                                  </div>
                            </li>                            
                            <li><!-- BATERIAS -->
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><a href="">BATERIAS</a>
                                    </button>
                                    <div class="dropdown-menu opciones">
                                      <a class="dropdown-item" href="#">Acústicas</a>
                                      <a class="dropdown-item" href="#">Electrónicas</a>
                                      <a class="dropdown-item" href="#">Otros</a>
                                                                          </div>
                                  </div>
                            </li>
                            <li><!-- ACCESORIOS -->
                                <div class="btn-group">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><a href="">ACCESORIOS</a>
                                    </button>
                                    <div class="dropdown-menu opciones">
                                      <a class="dropdown-item" href="#">Guitarra</a>
                                      <a class="dropdown-item" href="#">Bajo</a>
                                      <a class="dropdown-item" href="#">Bateria</a>
                                      <a class="dropdown-item" href="#">Otros</a>
                                    </div>
                                  </div>
                            </li>
                        </ul>
                    </div>
                    <!--finaliza caja contenedora del menu-->
                </nav>

            </div>
            <!-- caja barra navegacion usuario -->
            <div class="col-4 col-md-4 col-lg-12 cartBar">
                <nav class="navbar-expand-md menu2">

                    <!--boton para que desplegar el menu  en caso que el viewport sea tamaño movil-->
                    <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-user"></i></button>
    
                    <!--barra de menu que aparece en tamaño mobile-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                        <!--barra de menu derecho-->
                        <ul class=" usuario navbar-nav">
                            <%/*  if (usuario.admin == true) { */ %>
                                <li>
                                    <a href="/productos/agregar" class="entero">Vender <i class="fas fa-dollar-sign"></i></a>
                                    <a href="/productos/agregar" class="icon"><i class="fas fa-dollar-sign"></i></a>
                                </li>
                            <% /* }  */%> 
<!--                             <li>
                                <a href="/users" class="entero">Registrate <i class="far fa-address-card "></i></a>
                                <a href="../users" class="icon"><i class="far fa-address-card "></i></a>
                            </li> -->
                            <li>
                                <a href="/users" class="entero">Ingresá <i class="fas fa-sign-in-alt "></i></a>
                                <a href="/users" class="icon"> <i class="fas fa-sign-in-alt "></i></a>
                            </li>
                            <li>
                                <a href="/carrito" class="entero">Carrito <i class="fas fa-shopping-cart"></i></a>
                                <a href="/carrito" class="icon"> <i class="fas fa-shopping-cart"></i></a>
                            </li>

                        </ul>
                    </div>
                    <!--finaliza caja contenedora del menu-->
                </nav>

            </div>
            <!-- caja search -->
            <div class="col-4 col-md-8 col-lg-3 contenedorBuscador">
                <div class="buscador">
                    <form action="" method="get" class="search-form">
                        <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
                        <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                    </form>
                </div>

            </div>
        </div><!-- CIERRE  CAJA CONTENEDORA DE LOGO, BUSCADOR,USUARIOS Y REDES-->
     </div><!-- cierre container BOOTSTRAP-->
  </header>